@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,500,600,700,700i,800i,900&display=swap');

$font1:'Poppins', sans-serif;
$black-color: #000;
$gray-color: #647891;
$white-bg:#fff;
$h-color: #151b26;